


section.contact-us {
	margin-top: 100px;
	margin-bottom: 60px;
}

.contact-us .section-heading h2 {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 60px;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #121212;
}

.contact-us p {
	margin-top: -5px;
}

.contact-us em {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	color: #aaa;
}

.contact-us input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #f2745f;
  background-color: #ecebeb;
  outline: none!important;
  border: none;
  box-shadow: none;
  line-height: 44px;
  height: 44px;
  width: 100%;
  margin-bottom: 30px;
}

.contact-us textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #f2745f;
  background-color: #ecebeb;
  outline: none;
  border: none;
  box-shadow: none;
  height: 122px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}

.contact-us button {
	width: 100%;
	display: inline-block;
	background-color: #f2745f;
	color: #fff!important;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 3px;
	text-decoration: none;
	letter-spacing: 0.5px;
}
.contact-us button:hover{
	background-color: #000000;
}

section.map {
	margin-bottom: 150px;
}

section.map #map {
	height: 450px;
}




@media (max-width: 991px) {
	.contact-info {
		margin-top: 80px;
	}
}

@media (max-width: 768px) {
	
	.contact-info {
		margin-top: 80px;
	}
}
@media (max-width: 480px) {

}
